<style>
    table {
    }
    h1 {
        text-align: center;
        font-size: 40px;
        font-style: oblique;
        font-weight: bolder;
    }

    .container {
        margin-top: 20px;
    }

    .form-group {
        width: 400px;
        height: 200px;
        margin-top: 20px;
    }

    a {
    }
</style>
<div class="container">
    <h1>CONTACT</h1>
    <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Name" required /><br />
        <input type="email" class="form-control form-control-sm" placeholder="Email" required /><br />
        <textarea class="form-control" rows="5" placeholder="message"></textarea><br />
        <a href="~/Home/Index" class="btn btn-primary btn-large">Submit</a><br /><br />
    </div>
    <div class="form-group">
        <p></p>
    </div>

</div>