@model DeliveryBookingProject.Models.User

@{
    ViewData["Title"] = "Login";
}
@if (Model.UserName != null)
{
    <script>
        alert("Successfully Register");
    </script>
}
<h1>Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserType" class="control-label"></label>
                <div class="col-md-10">
                    <b>Customer</b>&nbsp;&nbsp;<input type="radio" asp-for="UserType" value="Customer" />&nbsp;
                    <b>Executive</b>&nbsp;&nbsp;<input type="radio" asp-for="UserType" value="Executive" />&nbsp;
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="SignIn" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


