

    
                <script>
                    alert("UserName is Already in Use");
                </script>
                <a asp-action="Register" asp-controller="Customer" class="btn btn-primary">Try again</a>
            

